:root {
  --pi-pixel-color: #151413;
  --pi-canvas-margin: 16;
  --pi-detail: 1;
  --pi-default-pixel-gap: 5;
  --pi-different-color-treshold: 33;
  --pi-width: 16;
}

.bg-canvas__container {
  height: 100%;
  min-height: 100%;
  display: block;
}

.pixel-image {
  &--home {
    height: 10rem;
  }

  &--footer {
    height: 4.5rem;
  }

  &__video, &__video-canvas {
    display: none;
  }

  /*&__video-canvas {
    display: block;
    position: relative;
    left: 200px;
    scale: 40;
  }*/

  &__container {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
}