@import "variables";

.footer {
  margin: .5rem;
  border-radius: .5rem;
  height: calc(100vh - 1rem);
  color: var(--bg-color);

  a {
    color: var(--bg-color);
  }

  &--bg-default {
    background-color: var(--text-color);
  }

  @for $i from 1 through $number-of-projects {
    &--bg-#{$i} {
      background-color: var(--accent-project#{$i});
    }
  }

  &__container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__main {
    display: flex;
    gap: 1rem;
  }

  &__title {
    width: 100%;
    font-size: 4rem;
    letter-spacing: .4rem;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    span {
      display: block;
    }
  }

  &__links {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    a {
      font-size: 1.5rem;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    h3 {
      font-weight: 350;
    }
  }

  &__socials, &__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 11rem;
  }

  &__small {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 75rem) {
  .footer {
    &__container {
      padding: 4rem 2rem;
    }
  }
}