.horizontal-scroll {
  &__section {
    overflow: hidden;
  }

  &__container {
    height: 100vh;
    display: flex;
    width: 200%;
  }

  &__panel {
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    display: flex;
  }
}