.horizontal-scroll {
  &__section {
    overflow: hidden;
  }

  &__container {
    height: 100vh;
    display: flex;
    width: fit-content;
  }

  &__panel {
    height: 100%;
    min-height: 100%;
    padding: 0 calc(((100vw - 75rem) / 2) + 2rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 1200px) {
  .horizontal-scroll {
    &__panel {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .horizontal-scroll {
    &__panel {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
}