form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  span {
    margin-bottom: .5rem;
    display: inline-block;
  }
}

.slider {
  display: block;
}

.textarea__container {
  width: 100%;
  align-items: flex-start;
}

textarea {
  padding-top: .5rem;
  height: 30vh;
}

.switch {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;

  .toggle {
    position: relative;
    display: inline-block;
    min-width: 2.25rem;
    width: 2.25rem;
    height: 1.25rem;
    border-radius: 4px;
    background-color: var(--bg-dark);

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      background-color: var(--text-light);
      border-radius: 2px;
      width: 1rem;
      height: 1rem;
      transition: .2s all ease-in-out;
    }
  }

  input {
    display: none;

    &:checked + .toggle {
      &:after {
        background-color: var(--text-color);
        left: 19px;
      }
    }
  }
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: .75rem;
  border-radius: 6px;
  background: var(--bg-dark);
  border: var(--bg-dark) 2px solid;
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    background: var(--text-color);
  }

  &::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    background: var(--text-color);
  }
}

@media (max-width: 600px) {

}