input, textarea {
 height: 100%;
  width: 100%;
  outline: none;
  background-color: transparent;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  height: 100%;
  display: flex;
  width: 35rem;
  max-width: 100%;
  padding: 0.375rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-color);

  span {
    display: flex;
    width: fit-content;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 0.125rem;
    background-color: var(--bg-dark);
    white-space: nowrap;
  }
}

.textarea__container {
  width: 100%;
  align-items: flex-start;
}

textarea {
  padding-top: .5rem;
  height: 30vh;
}

@media (max-width: 600px) {

}