.page {
  max-width: 75rem;
  margin: auto auto 30vh;
  padding: 8rem 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  &--large-top-padding {
    padding-top: 12rem !important;
  }
}