@import "variables";

.pt-slider {
  position: fixed;
  width: 50%;
  top: 0;
  background: var(--text-color);
  left: 0;
  z-index: 999;
  height: 100vh;

  @for $i from 1 through $number-of-projects {
    &--bg-#{$i} {
      background-color: var(--accent-project#{$i});
    }
  }

  &:first-of-type {
    left: 0;
  }

  &:nth-of-type(2) {
    left: initial;
    right: 0;
  }
}