@use "app";
@use "cursor";
@use "nav";
@use "page";
@use "pt-sliders";

@import "variables";

:root {
  --bg-color: #F4F2F1;
  --text-color: #1A1A1A;
  --text-light: #868686;

  --logo-color1: #c96b60;
  --logo-color2: #3a7778;
  --logo-color3: #ccc5c0;
  --logo-color4: #edb56d;

  --accent-project1: #254f75;
  --accent-project2: #be4a0e;
  --accent-project3: #F27457;
  --accent-project4: #2f8676;
  --accent-project5: #7c0b0b;

  --contact: #ccc5c0;
  --about: #ccc5c0;

  --default-letter-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;

}

html {
  font-size: 14px;
  min-height: 100%;
  color: var(--text-color);
  font-family: 'IBM Plex Sans', sans-serif;
}


html, body, main {
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 14px;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 1400px;
  margin: auto;
}

a {
  color: var(--text-color);
}

hr {
  border-top: 1px solid var(--text-color);
  border-bottom: transparent;
}

footer {
  margin: 8rem 2rem 2rem;
  padding: 1rem 0;
  position: relative;

  p, u {
    color: var(--text-light);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -.5rem;
    right: -.5rem;
    height: 1px;
    background-color: var(--text-light);
  }
}

button {
  outline-color: transparent;
  border: none;
  background-color: transparent;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -.2rem;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform .2s ease-in-out;
  }

  &:focus-visible {
    outline: transparent;

    &:after {
      transform: scaleX(100%);

    }
  }
}

p {
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: var(--default-letter-spacing);
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: .5rem;

  @for $i from 1 through $number-of-projects {
    &--project#{$i} {
      color: var(--accent-project#{$i});
    }
  }
}

.divider {
  background-color: var(--text-color);
}

.button {
  &--submit {
    display: block;
    text-align: center;
    padding: .5rem 1.5rem;
    border-radius: 0;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 1rem;
    transition: border .2s ease-in-out;
    background: transparent;
    font-weight: 400;

    &:focus-visible {
      outline: transparent;
      border-left-width: 3px;
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}