@use "app";
@use "button";
@use "cursor";
@use "footer";
@use "horizontal-scroll";
@use "input";
@use "nav";
@use "page";
@use "project";
@use "pt-sliders";
@use "tag";
@use "text";

:root {
  --bg-color: #F8F5F3;
  --bg-dark: #D6CDC6;
  --bg-footer: #454240;
  --text-color: #151413;
  --text-light: #5B5855;

  --logo-red: #BC4F43;
  --logo-green: #2B6C6E;
  --logo-grey: #C3B7AE;
  --logo-yellow: #DA9F52;

  --gradient-red: linear-gradient(175deg, #C96B60 3.85%, #BC4F43 96.14%);
  --gradient-green: linear-gradient(171deg, #3A7778 10.97%, #2B6C6E 89.63%);
  --gradient-grey: linear-gradient(173deg, #C8BEB6 7.09%, #C3B7AE 92.58%);
  --gradient-yellow: linear-gradient(173deg, #EDB56D 6.75%, #DA9F52 92.94%);


  --accent-project1: #be4a0e;
  --accent-project2: #254f75;
  --accent-project3: #85102f;
  --accent-project4: #ecbe4d;
  --accent-project5: #18C48B;
  --accent-project6: #162C65;
  --accent-project7: #ebaf0c;

  --contact: #ccc5c0;
  --about: #ccc5c0;

  --default-letter-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*cursor: none;*/
}

html {
  font-size: 16px;
  min-height: 100%;
  color: var(--text-color);
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  #__nuxt {
    overflow: hidden;
  }
}