$number-of-projects: 8;

@mixin focus-visible {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform .2s ease-in-out;
  }
}