.about {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: initial;
  gap: 2rem;

  &__container {
    gap: 4rem;
    margin-top: auto;
    justify-content: flex-end;
    padding-bottom: 4rem;
  }

  & > * {
    width: 100%;
  }

  &__text {
    p {
      margin-bottom: .5rem;
    }
  }

  &__pixel-image {
    height: 4.5rem;
  }
}

@media (max-width: 750px) {
  .about {
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }
}