.contact {
  margin: 0 auto;
  justify-content: space-between;

  &__pixel-image {
    padding-bottom: 8rem;
    height: 25rem;
  }
}

@media (max-width: 600px) {
  .contact {
    &__title {
      font-size: 1.5rem;
      letter-spacing: .15rem;

      a {
        font-size: 1.5rem;
        letter-spacing: .15rem;
      }
    }
  }
}