.home {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  width: 100%;
  padding: 12rem 2rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title, .text {
      width: fit-content;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .text {
      text-align: right;
    }
  }

  &__pixel-image {
    height: 4.5rem;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .home {
    padding: 8rem 2rem 0;
    gap: 4rem;

    .hero {
      flex-direction: column;
      gap: 4rem;
      align-items: flex-start;

      .text {
        text-align: initial;
      }
    }
  }
}

@media (max-width: 600px) {
  .home {

  }
}